@import "tailwindcss";

body {
  @apply bg-[#F5F4F0] text-gray-900;
  font-family: 'Inter', system-ui, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}